
<h1 class="bg-primary text-white p-4 text-center">Angular-14</h1>


<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item text-white bg-primary p-2 mt-2" *ngFor="let skill of strArr">
          I love {{skill}}
        </li>
        
      </ul>
      <hr>
      <table class="table table-bordered text-white bg-primary">
        <thead>
          <tr>
            <th>Sr.no</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Contact</th>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let std of student; let i=index">
            <td>{{i+1}}</td>
            <td>{{std.fname}}</td>
            <td>{{std.lname}}</td>
            <td>{{std.email}}</td>
            <td>{{std.age}}</td>
            <td>{{std.contact}}</td>
            <td>{{std.city}}</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <ul class="list-group">
        <li class="list-group-item text-white bg-success p-2 mt-2" *ngFor="let player of playerName ">
          I love {{player}}
        </li>
      </ul>
      <hr>
      <table class="table table-bordered text-white bg-success">
        <thead>
          <tr>
            <th>Sr.no</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let intro of plyar; let i=index">
            <td>{{i+1}}</td>
            <td>{{intro.fname}}</td>
            <td>{{intro.lname}}</td>
            <td>{{intro.email}}</td>
            <td>{{intro.age}}</td>
            <td>{{intro.city}}</td>
          </tr>
        </tbody>
      </table>

      <hr>
      <ul class="list-group">
        <li class="list-group-item text-white bg-info p-2 mt-2" *ngFor="let bookN of bookArr ">
          I love {{bookN}}
        </li>
      </ul>
      <hr>
      <table class="table table-bordered text-white bg-info">
        <thead>
          <tr>
            <th>Sr.no</th>
            <th>Book_Title</th>
            <th>Publisher</th>
            <th>Auother</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let intro of bookName; let i=index">
            <td>{{i+1}}</td>
            <td>{{intro.Book_Title}}</td>
            <td>{{intro.Publisher}}</td>
            <td>{{intro.Auother}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

